*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    color: black;
}
.name,.rollno{
    text-align: center;
    color: #225089;
}
.main{
    background-image: url("images/bg.jpg");
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 10%;
    overflow: hidden;
}
hr{
    height: 3px;
    background-color: #225089;
}
.tutorial{
    font-size: 20px;
    color: #225089;
}
.intro-image{
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    float: right;
}
.para{
    font-size: 15px;
}
ul{
    margin-left: 35px;
}
li:hover{
    font-size: x-large;
}
.cmds{
    width: 65%;
    float: right;
    margin-top: 6%;
}
.initimg{
    border: 2px solid #225089;
    margin-left: 0%;
}
.ins{
    text-decoration: underline;
    color: #225089;
}
.initHeading {
    color: white;
    background-color: #225089;
    text-align: center;
}
.lifecycle{
    width: 80%;
    margin-left: 10%;
}



